<!DOCTYPE html>
<html>
<head>
  <title>Pathway</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>

<body ng-app="pathwayApp">
<div ng-controller="UserController">

<div class="ui top fixed hidden menu">
  <a ui-sref="home">
    <h1 class="ui item logo">Pathway</h1>
  </a>
  <a ui-sref="discover" class="item">
    Discover
  </a>
  <a class="item">
    How It Works
  </a>
  <!-- <a class="right item">
    Contact Us
  </a> -->
  <div class="right item">
    <a ng-if="signedIn()" ui-sref="userShow" class="item">{{ firstName }}</a>
    <a ng-if="signedIn()" ng-click="logout()" class="item">Logout</a>
    <a ng-if="!signedIn()" ui-sref="login" class="item">Login</a>
    <a ng-if="!signedIn()" ui-sref="register" class="item">Register</a>
  </div>
</div>

  <div class="ui inverted menu">
    <div class="right item">
      <div class="ui inverted transparent icon input">
        <a href="#" class="white-font">Contact Us</a>
      </div>
    </div>
  </div>

  <nav class="ui secondary pointing menu dis">
    <a ui-sref="home">
      <h1 class="ui item logo active">Pathway</h1>
    </a>
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a ui-sref="discover" class="item">
      Discover
    </a>
    <a class="item">
      How It Works
    </a>
<!--     <a class="right item">
      Contact Us
    </a> -->
        <button ng-if="signedIn()" ui-sref="userShow" class="right item header">{{ firstName }}</a>
        <button ng-if="signedIn()" ng-click="logout()" class="item">Logout</button>
        <a ng-if="!signedIn()" ui-sref="login" class="right item">Login</a>
        <a ng-if="!signedIn()" ui-sref="register" class="item">Register</a>
      </div>
    </div>
  </nav>

<ui-view>
</ui-view>

<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Blog</a>
            <a href="#" class="item">FAQ</a>
            <a href="#" class="item">Careers</a>
            <a href="#" class="item">Press</a>
            <a href="#" class="item">Mission</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Scientists</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Researcher Guide</a>
            <a href="#" class="item">Submit a Project</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Contributors</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Find a Pathway</a>
            <a href="#" class="item">How it works</a>
            <a href="#" class="item">Results</a>
          </div>
        </div>
        <div class="seven wide column">
          <p>Copyright <i class="copyright icon"></i> 2016 Pathway Fund, Inc. | All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
