<!DOCTYPE html>
<html>
<head>
  <title>Pathway</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  
</head>
<body ng-app="pathwayApp">

<ui-view>
</ui-view>

</body>
</html>
