<div class="pusher"></div>
  <div class="ui vertical masthead center aligned segment first">
    <div class="ui text container">
      <h1 class="ui header">
        Forget about Silver Bullets
      </h1>
      <h2>Together, we will build Pathways to cure</h2>
      <div ng-controller="UserController">
        <div ng-if="signedIn()">
          Welcome, {{ userEmail }}
          <button ng-click="logout()" class="ui basic red button" >Logout</button>
        </div>
        <div ng-if="!signedIn()">
          <a ui-sref="login"><button class="ui basic blue button">Return User Login</button></a>
          <a ui-sref="register"><button class="ui basic orange button">New User Register</button></a>
        </div>
      </div>
    </div>
  </div>
<div ng-controller="UserController">
  <div ng-if="signedIn()">
    Welcome, {{ userEmail }}
    <div ng-if="researcher()">
      <a ui-sref="createProject">Create Project</a>
    </div>
    <button ng-click="logout()" class="btn btn-primary">Logout</button>
  </div>
  <div class="ui vertical masthead center aligned segment second">
    <div class="ui text container">
      <h1 class="ui header">
        Diseases are indiscriminatory, efforts to find cure should be, too!
      </h1>
    </div>
  </div>
</div>