<div class="ui middle aligned segment center aligned">
  <div class="column">
    <h2 class="ui olive image header">
      <div class="content">
        Complete your Profile
      </div>
    </h2>
    <form name="userUpdateForm" ng-submit="submit()" role="form" ng-init="user = {}" class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input focus id="firstName" required type="text" placeholder="{{userInfo.first_name}}" ng-model="user.firstName" />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input id="lastName" required type="lastName" placeholder="{{userInfo.last_name}}" ng-model="user.lastName" />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="travel icon"></i>
            <input focus id="title" required type="text" placeholder="Title" ng-model="user.title" />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="marker icon"></i>
            <input focus id="location" required type="text" placeholder="Location" ng-model="user.location" />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="university icon"></i>
            <input focus id="affiliates" required type="text" placeholder="Affiliates" ng-model="user.affliate" />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <textarea rows="5" focus id="description" required type="textarea" placeholder="Description" ng-model="user.description" ></textarea>
          </div>
        </div>

        <button type="submit" class="ui fluid large olive submit button" ng-click="update()">Update</button>
        <p class="error-message">{{message}}</p>
      </div>
    </form>
  </div>
</div>