.logo {
  font-family: 'Poiret One', cursive;
}

.icon-margin {
  margin: 1rem !important;
}

.ui.inverted.menu {
  margin: 0;
  background: #838996 !important;
}

.text-box {
  background: rgba(255, 255, 255, .6);
  margin-top: 10rem;
  text-align: left;
  padding: 1rem;
}

.first {
  background-image: url("moonsky.jpg") !important;
  background-size: cover !important;
  min-height: 60rem;
}

.first h2 {
  margin-top: 40% !important;
  color: white !important;
  font-size: 2.0 rem !important;
  font-weight: normal;
}

.second {
  background-color: #F2F4F7 !important;
  min-height: 40rem;
}

.second h2 {
  margin-top: 5rem;
  color: #374044 !important;
  font-size: 2.5 rem !important;
  font-weight: normal !important;
}

.third h3 {
  color: #D9E6EC;
}

.third p {
  color: #D9E6EC;
}

.pathway {
  color: #48687A;
  font-family: 'Poiret One', cursive;
}

.century {
  font-family: "Century Gothic" !important;
}

.avenir {
  font-family: "Avenir" !important;
}

.third {
  background-color: #1E4468 !important;
  min-height: 30rem;
}

.impact {
    margin-top: 5rem !important;
}

.fifth {
  background-image: url("forestpath.jpg") !important;
  background-size: cover !important;
  min-height: 50rem;
}

.fifth.h2 {
  margin-top: 5rem;
  color: #374044 !important;
  font-size: 2.5 rem !important;
  font-weight: normal !important;
}

.hidden.menu {
  display: none;
}

.secondary.pointing.menu .toc.item {
  display: none;
}



@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu,
  .secondary.pointing.menu .right.item {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

body > .grid {
  height: 100%;
}

.column {
  max-width: 450px;
  margin: 0 auto;
}

.error-message {
  color: red;
}

.footer.segment {
  padding: 5em 0em;
  background: #4C4436 !important;
}

.footer .seven.wide.column {
  text-align: center;
}

.white-font {
  color: white
}
